/*
*
* SWIPER SLIDER CUSTOM STYLE
*/
.swiper-button-prev, .swiper-button-next{
    background-color: #EEEFF0;
    padding: 7px 20px;
    opacity: 80%;
    border-radius: 50%;
    color: #FC6011;
}
.swiper-button-disabled{
    opacity: 40%;

}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 16px;
    font-weight: 600;
}